backend:
  name: git-gateway
  branch: main

media_folder: "public/uploads"
public_folder: "/uploads"

collections:
  - name: "songs"
    label: "Songs"
    folder: "posts"
    create: true
    slug: "{{slug}}"
    extension: "mdx"
    format: "frontmatter"
    fields:
      - { label: "Title", name: "title", widget: "string" }
      - { label: "Date", name: "date", widget: "datetime" }
      - { label: "Category", name: "category", widget: "select", options: ["Kids","Wedding","Anniversary","Faith","Other"] }
      - { label: "Audio file", name: "audio", widget: "file", required: false }
      - { label: "Cover image", name: "image", widget: "image", required: false }
      - { label: "Body", name: "body", widget: "markdown" }
